footer {
	// position: absolute;
	// bottom: 0;
	background-color: $softBlue;
	color: #fff;
	padding: 10px 0;
	margin-top: 200px;
}

.footer-text {
	// margin: 10px 0;
	display: block;
	text-align: center;
}
